.web-series-list--container {
  height: calc(100vh - 50px);
  overflow: auto;
  width: 100%;
}

.web-series-list--container::-webkit-scrollbar {
  width: 5px;
}
 
.web-series-list--container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.web-series-list--container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}